*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: skyblue; */
  height: 100vh;
  width: 100%;
  /* z-index: -1; */
  background-image: url("./bg4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* opacity: 0.5; */
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  /* background-color: white; */
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  opacity: 1;
  z-index: 15;
  position: absolute;
  left: 50px;
  /* display: flex; */

  margin-left: 0px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  font-size: larger;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  color: gainsboro;
  outline: none;
  font-weight: bolder;
  border: 1.5px solid black;
  font-size: x-large;
}

.btn:hover {
  /* border-color: black; */
  background-color: #00203fff;
  color: #adefd1ff;
  cursor: pointer;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
  background-color: palegreen;
}

.btn.wrong {
  --hue: var(--hue-wrong);
  color: black;
  background-color: rgb(256, 5, 50);
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  width: 200px;
}

.btn:visited {
  background-color: orange;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

#question {
  color: black;
  font-weight: bolder;
  font-size: xx-large;
  text-align: center;
}

/* #949398FF
#F4DF4EFF */
